::selection {
    background: var(--accent);
    color: var(--accent-light);
}

body {
    color: var(--dark);
}

.content {
    position: relative;
    min-height: 100vh;
    overflow-x: hidden;
}

nav {
    background: var(--dark);
    color: var(--light);
    padding: 0 var(--rem-mul-phi);
    position: fixed;
    width: 100vw;
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .nav-logo {
    display: flex;
    align-items: center;
}

nav .nav-item {
    color: inherit;
    justify-content: flex-end;
    text-decoration: none;
    padding: 1rem var(--rem-mul-phi);
    transition: var(--transition);
    line-height: 2rem;
}

.container {
    top: 60px;
}

.docs-contianer {
    display: flex;
    margin: 0 auto;
    padding-top: 60px;
    position: relative;
}

.docs-contianer > div.docs-content {
    min-width: 320px;
    max-width: 800px;
    width: 800px;
}

.docs-content > article {
    border-bottom: 1px solid var(--grey-tint)
}

.docs-content > article section {
    margin-bottom: 3rem;
}
.docs-content > article section > section {
    margin-bottom: 1rem;
}

.docs-content > article section > section > p {
    margin-bottom: 1rem;
}
.docs-content > article section > section > p:last-child,
.docs-content > article section > section > .code-block-contianer:last-child {
    margin-bottom: var(--rem-mul-phi);
}

.docs-content > article section p,
.docs-content > article section li {
    font-weight: 300;
}

.page-header {
    position: absolute;
    padding: 4rem 4rem 0;
}

.docs-content > article > .page-content {
    padding: 12rem 0 0;
}

.page-header > h3 {
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: var(--accent-shade);
}

.header-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
}

.page-header > .tint {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;
}

.tint > div {
    position: absolute;
    bottom: -2rem;
    font-size: 7rem;
    font-weight: 700;
    font-family: var(--serif-font);
    color: var(--accent);
    right: 35%;
}

.docs-sidebar-container {
    height: 100vh;
}

.nav-footer {
    display: none;
}

footer {
    position: absolute;
    padding: var(--rem-div-phi) var(--rem-mul-phi) ;
    bottom: 0;
    background-color: var(--dark);
    color: var(--light);
    font-size: var(--rem-div-phi);
    display: flex;
    height: 40px;
}

.footer-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    filter: invert(1);
}

.footer-icon {
    width: 25px;
    height: 25px;
    color: var(--light);
    margin-left: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-icons {
    display: none;
}

.nav-icon {
    width: 50px;
    height: 50px;
    padding: var(--rem-div-phi);
}

.mobile-viewable {
    display: none;
}

.code-output {
    padding: 1rem;
    border-radius: 5px;
    border: 1px solid var(--grey-tint);
}

.code-output > .row > div[class^="phi-col"] {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    background: var(--accent-tint);
    color: var(--accent-shade);
    border: 1px solid var(--accent);
    border-right: 0px solid var(--accent);
}

.code-output > .row > div[class^="phi-col"]::after {
    content: attr(class);
    position: absolute;
    text-align: center;
}

.row.justify-content-space-between > div[class^="phi-col"] {
    border-width: 1px;
}

.code-output > .row > div[class^="phi-col"]:last-child {
    border-right-width: 1px;
}

.phi-col-6::after, .phi-col-5::after, .phi-col-4::after, .phi-col-3::after, .phi-col-2::after, .phi-col-1::after {
    left: calc(100% + 20px);
    width: 100px;
}

.code-block-contianer .code-output div[class^="phi-col"] {
    overflow: hidden;
}

.note {
    background: var(--warning-tint);
    padding: var(--rem-div-phi) var(--rem-mul-phi);
    border-left: var(--rem-div-phi) solid var(--warning);
    color: var(--warning-shade);
    max-width: 100%;
    margin: var(--rem-mul-phi) 0;
}

.note > p {
    margin: var(--rem-div-phi) 0;
}

.note code {
    background: var(--warning-shade);
    color: var(--warning-tint);
}

.note .link-blockquote {
    color: var(--warning-shade)
}

.example-content {
    padding: 5rem 3rem;
}

.example-content > h4, .example-content > p {
    text-align: center;
}

.example-content > p {
    margin: 0 auto;
}

@media screen and (max-width: 1990px) {
    .docs-sidebar-container {
        margin-left: 80px;
    }
}

@media screen and (min-width: 1340px) {
    .docs-contianer {
        max-width: 1260px;
    }
}

@media screen and (min-width: 1200px) {
    .page-header > h3 {
        text-align: center;
        position: relative;
        transform: translate(-20%, -40%);
    }

    .tint > div {
        left: 4%;
    }
}

@media screen and (max-width: 1340px) and (min-width: 600px) {
    .docs-sidebar-container {
        margin-left: 80px;
        flex: 0 0 200px;
    }

    .docs-contianer {
        max-width: 90%;
    }
}

@media screen and (min-width: 1100px) {
    .docs-sidebar-container {
        flex: 0 0 300px;
    }
}

@media screen and (max-width: 1100px) {
    .tint > div {
        right: 30%;
    }
}

@media screen and (max-width: 830px) and (min-width: 320px) {
    .nav-links {
        display: flex;
        flex-direction: column;
        position: fixed;
        left: 0;
        top: 60px;
        width: 100vw;
        height: calc(100vh - 60px);
        background-color: var(--light);
        color: var(--dark);
        align-items: flex-end;
        font-size: 2rem;
    }

    .nav-item {
        background: transparent !important;
        font-weight: normal !important;
        color: var(--dark) !important
    }

    .nav-footer {
        font-size: 1rem;
        align-self: flex-start;
        padding: var(--rem-div-phi) var(--rem-mul-phi);
        position: fixed;
        bottom: 0;
    }

    .docs-sidebar-container {
        margin-left: 0px;
    }

    .docs-contianer > div.docs-content {
        padding: var(--rem-mul-phi);
    }

    .mobile-viewable {
        display: block;
    }

    .nav-icons {
        display: flex;
        position: fixed;
        bottom: 0;
        right: 0;
    }

    .tint > div {
        right: 37%;
        bottom: 2rem;
    }
}


@media screen and (max-width: 765px) {
    .code-output > .row > div[class^="phi-col"] {
        border-right-width: 1px;
        border-bottom-width: 0px;
    }

    .code-output > .row > div[class^="phi-col"]:last-child {
        border-bottom-width: 1px;
    }

    .phi-col-6::after, .phi-col-5::after, .phi-col-4::after, .phi-col-3::after, .phi-col-2::after, .phi-col-1::after {
        left: initial;
    }
}


@media screen and (max-width: 600px) and (min-width: 320px) {
    .page-header > h3 {
        text-align: center;
        transform: translateY(-40%);
    }

    .tint > div {
        left: 1rem;
        bottom: -1.618rem;
    }

    .page-header {
        padding: 4rem 3rem 0;
    }
}

@media screen and (min-width: 830px) {
    .nav-links {
        display: flex !important;
        height: 60px;
    }

    .nav-item:hover {
        background: var(--accent);
        color: var(--light) !important;
    }

    .nav-item.active {
        background: var(--accent-shade);
        color: var(--accent-tint);
    }
}