@font-face {
    font-family: 'Fira Code';
    src: url('/fonts/Fira_Code/FiraCode-Light.ttf') format("truetype");
    font-weight: 300;
}

@font-face {
    font-family: 'Fira Code';
    src: url('/fonts/Fira_Code/FiraCode-Regular.ttf') format("truetype");
    font-weight: 400;
}

@font-face {
    font-family: 'Fira Code';
    src: url('/fonts/Fira_Code/FiraCode-Medium.ttf') format("truetype");
    font-weight: 500;
}

@font-face {
    font-family: 'Fira Code';
    src: url('/fonts/Fira_Code/FiraCode-SemiBold.ttf') format("truetype");
    font-weight: 600;
}

@font-face {
    font-family: 'Fira Code';
    src: url('/fonts/Fira_Code/FiraCode-Bold.ttf') format("truetype");
    font-weight: 700;
}

/* Playfair display */
@font-face {
    font-family: 'Playfair Display';
    src: url('/fonts/Playfair_Display/PlayfairDisplay-Regular.ttf') format("truetype");
    font-weight: 400;
}

@font-face {
    font-family: 'Playfair Display';
    src: url('/fonts/Playfair_Display/PlayfairDisplay-Italic.ttf') format("truetype");
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Playfair Display';
    src: url('/fonts/Playfair_Display/PlayfairDisplay-SemiBold.ttf') format("truetype");
    font-weight: 600;
}

@font-face {
    font-family: 'Playfair Display';
    src: url('/fonts/Playfair_Display/PlayfairDisplay-SemiBoldItalic.ttf') format("truetype");
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Playfair Display';
    src: url('/fonts/Playfair_Display/PlayfairDisplay-Bold.ttf') format("truetype");
    font-weight: 700;
}

@font-face {
    font-family: 'Playfair Display';
    src: url('/fonts/Playfair_Display/PlayfairDisplay-BoldItalic.ttf') format("truetype");
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'Playfair Display';
    src: url('/fonts/Playfair_Display/PlayfairDisplay-ExtraBold.ttf') format("truetype");
    font-weight: 800;
}

@font-face {
    font-family: 'Playfair Display';
    src: url('/fonts/Playfair_Display/PlayfairDisplay-ExtraBoldItalic.ttf') format("truetype");
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Playfair Display';
    src: url('/fonts/Fira_Code/PlayfairDisplay-Black.ttf') format("truetype");
    font-weight: 900;
}

@font-face {
    font-family: 'Playfair Display';
    src: url('/fonts/Fira_Code/PlayfairDisplay-BlackItalic.ttf') format("truetype");
    font-weight: 900;
    font-style: italic;
}

/* Poppins */
@font-face {
    font-family: 'Poppins';
    src: url('/fonts/Poppins/Poppins-Thin.ttf') format("truetype");
    font-weight: 100;
}

@font-face {
    font-family: 'Poppins';
    src: url('/fonts/Poppins/Poppins-ThinItalic.ttf') format("truetype");
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Poppins';
    src: url('/fonts/Fira_Code/Poppins-ExtraLight.ttf') format("truetype");
    font-weight: 200;
}

@font-face {
    font-family: 'Poppins';
    src: url('/fonts/Poppins/Poppins-ExtraLightItalic.ttf') format("truetype");
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Poppins';
    src: url('/fonts/Poppins/Poppins-Light.ttf') format("truetype");
    font-weight: 300;
}

@font-face {
    font-family: 'Poppins';
    src: url('/fonts/Poppins/Poppins-LightItalic.ttf') format("truetype");
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Poppins';
    src: url('/fonts/Poppins/Poppins-Regular.ttf') format("truetype");
    font-weight: 400;
}

@font-face {
    font-family: 'Poppins';
    src: url('/fonts/Poppins/Poppins-Italic.ttf') format("truetype");
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Poppins';
    src: url('/fonts/Poppins/Poppins-Medium.ttf') format("truetype");
    font-weight: 500;
}

@font-face {
    font-family: 'Poppins';
    src: url('/fonts/Fira_Code/Poppins-MediumItalic.ttf') format("truetype");
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Poppins';
    src: url('/fonts/Poppins/Poppins-SemiBold.ttf') format("truetype");
    font-weight: 600;
}

@font-face {
    font-family: 'Poppins';
    src: url('/fonts/Poppins/Poppins-SemiBoldItalic.ttf') format("truetype");
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Poppins';
    src: url('/fonts/Poppins/Poppins-Bold.ttf') format("truetype");
    font-weight: 700;
}

@font-face {
    font-family: 'Poppins';
    src: url('/fonts/Poppins/Poppins-BoldItalic.ttf') format("truetype");
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'Poppins';
    src: url('/fonts/Poppins/Poppins-ExtraBold.ttf') format("truetype");
    font-weight: 800;
}

@font-face {
    font-family: 'Poppins';
    src: url('/fonts/Poppins/Poppins-ExtraBoldItalic.ttf') format("truetype");
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Poppins';
    src: url('/fonts/Poppins/Poppins-Black.ttf') format("truetype");
    font-weight: 900;
}

@font-face {
    font-family: 'Poppins';
    src: url('/fonts/Poppins/Poppins-BlackItalic.ttf') format("truetype");
    font-weight: 900;
    font-style: italic;
}