/* PrismJS 1.22.0
https://prismjs.com/download.html#themes=prism-tomorrow&languages=markup+css */
/**
 * prism.js tomorrow night eighties for JavaScript, CoffeeScript, CSS and HTML
 * Based on https://github.com/chriskempson/tomorrow-theme
 * @author Rose Pritchard
 */
:root {
	--magenta: #ff5470;
	--dark-blue: #00214d;
}
code[class*="language-"],
pre[class*="language-"] {
	color: #ccc;
	background: none;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	word-wrap: normal;
	line-height: 1.5;

	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;

	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;

}

code[class*="language-"] {
	pointer-events: none;
}

code[class*="language-"]::selection, code[class*="language-"] > span::selection {
	color: var(--accent-light);
}

/* Code blocks */
pre[class*="language-"] {
	padding: var(--rem-mul-phi);
	margin: .5em 0 0;
	border: 0;
	overflow: auto;
	border-radius: 5px;
	max-height: 30vh;
	overflow: scroll;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
	background: var(--dark-blue);
}

/* Inline code */
:not(pre) > code[class*="language-"] {
	padding: .1rem;
	border-radius: 5px;
	white-space: normal;
}

.token {
	font-family: 'Fira Code', monospace;
}

.token.comment,
.token.block-comment,
.token.prolog,
.token.doctype,
.token.cdata {
	color: #999;
}

.token.punctuation {
	color: #ccc;
}

.token.tag,
.token.namespace,
.token.deleted {
	color: #f06c70;
}

.token.function-name {
	color: #6196cc;
}

.token.boolean,
.token.number,
.token.function {
	color: #f08d49;
}

.token.property,
.token.class-name,
.token.constant,
.token.symbol {
	color: #f8c555;
}

.token.selector,
.token.important,
.token.atrule,
.token.keyword,
.token.builtin {
	color: #cc99cd;
}

.token.string,
.token.char,
.token.attr-value,
.token.regex,
.token.variable {
	color: #7ec699;
}

.token.operator,
.token.attr-name,
.token.entity,
.token.url {
	color: #67cdcc;
}

.token.important,
.token.bold {
	font-weight: bold;
}
.token.italic {
	font-style: italic;
}

.token.entity {
	cursor: help;
}

.token.inserted {
	color: green;
}

pre > code {
	padding: 0px;
}

.code-block-language {
	position: absolute;
}

.code-block {
	position: relative;
}

.code-block-copy {
	color: var(--magenta);
	border-radius: 5px;
	font-size: 0.8em;
	padding: 0 5px;
	display: inline-block;
	background-color: var(--dark-blue);
	border: 1px solid var(--magenta);
	position: absolute;
	bottom: 10px;
	right: 10px;
	cursor: pointer;
	transition: var(--transition);
}

.code-block-copy:hover {
	color: var(--dark-blue);
	background-color: var(--magenta);
}

.code-block-copy.copied {
	color: var(--dark-blue);
	background-color: var(--magenta);
}

.code-block-contianer {
	display: flex;
	flex-direction: column;
}

.code-block.with-output > pre[class*="language-"] {
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
}

.code-block.with-output + .code-output {
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	padding: var(--rem-mul-phi) var(--rem-div-phi);
	border: 1px solid var(--disabled-tint);
}