.btnContainer {
    position: absolute;
    right: 1rem;
    bottom: 2.5rem;
}

.btnContainer > a {
    display: flex;
    align-items: center;
    gap: var(--rem-div-phi);
    border-radius: 10px;
    text-decoration: none;
}

.buyMeCoffeeText {
    font-family: 'Cookie', cursive;
    font-size: var(--rem-mul-phi);
}