.exampleGrid {
    display: grid;
    max-width: 1000px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: var(--rem-mul-phi);
    margin: var(--rem-mul-phi);
    position: relative;
    top: var(--rem-mul-phi);
    margin: auto;
}

.example {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--grey-tint);
    border-radius: 5px;
    gap: 10px;
    /* background: var(--light); */
    color: var(--dark);
    transition: var(--transition);
    overflow: hidden;
}

.exampleContent {
    width: 100%;
}

.exampleTitle {
    padding: var(--rem-mul-phi);
    display: block;
    text-align: center;
}

.example:hover {
    transform: scale(1.05);
    background: var(--dark);
    border-color: var(--dark);
    color: var(--light);
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
}