.homepageContianer > section:first-child {
    margin-top: 60px;
}

.homepageContianer > section {
    min-height: calc(100vh - 60px);
    padding: 5vw;
    display: flex;
}

.homepageContianer > section > article {
    flex: 1;
}

@media screen and (max-width: 800px) {
    .homepageContianer > section {
        flex-direction: column;
        justify-content: center;
    }

    .homepageContianer > section > article:last-child {
        margin-top: -100px;
    }

    .homepageContianer > section > article h3 {
        text-align: center;
    }

    .homepageContianer > section > article p {
        text-align: left;
    }
}