.paginationContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--rem-mul-phi) 0 5rem;
}

.paginationNext, .paginationPrev, .allJumpPoints {
    display: flex;
    flex-direction: column;
    color: inherit;
    text-decoration: none;
}

.paginationNext {
    align-items: flex-end;
}

.arrowLink {
    display: flex;
    align-items: center;
}

.paginationLabel {
    margin: 0 10px;
}

.paginationNext > h5 {
    text-align: right;
}

.paginationTitle {
    display: inline-block;
    width: auto;
}

.paginationNext:hover,
.paginationPrev:hover {
    color: var(--dark);
}

.paginationNext:hover .paginationTitle,
.paginationPrev:hover .paginationTitle {
    text-decoration: underline;
    text-decoration-style: dotted;
    text-decoration-color: var(--accent);
    text-underline-position: under;
    color: var(--accent)
}